.flex-container {
  background: url('imgs/bg.jpg') no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20px;
  /*margin-top:30px;*/
  margin-bottom: 1em; 
  min-height: 120vh;
  z-index: 0;
}

.container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row dense;
  border: 5px solid white;
  width: 85%;
  padding: 10px;
  top: 50%;
  left: 50%;
  color: white;/*text color within the container*/  
  grid-gap: 5px; 
  transform: translate(7%,35%);
  background-color:rgba(112, 107, 107, 0.445);
}


.item-a {
  grid-column: 1/2;
  grid-row: 1 / 3;
  justify-content: center;
  margin: auto;
  background-color: transparent;
  word-wrap: break-word;
  text-align: center; 
}
.item-b {
  grid-column: 2 / 4;
  grid-row: 1;
  text-align: center;  
  border-bottom: 1px dashed #8c8b8b;
}

.item-c {
  grid-column: 2;
  grid-row: 2; 
  margin: auto;
}

.item-d {
  grid-column: 3;
  grid-row: 2;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;  
    position: flex;
    background-color:rgba(112, 107, 107, 0.445); 
    border: none; 
  }
}